$main-gradient: linear-gradient(135deg, #00d8ff 0%, #7db9e8 100%);
$altgradient: linear-gradient(200deg, #84fab0 0%, #8fd3f4 100%);
$alt-body-gradient: linear-gradient(100deg, #ddd6f3, #faaca8);
$body-gradient: linear-gradient(120deg, #fa5b42, #ffb88c);
$font-main: -apple-system, BlinkMacSystemFont, sans-serif;
$font-serif: Georgia, serif;
$light-grey: #f8f8f8;
$dark-grey: #4d4d4d;
$main-blue: #00c5cc;
$heading-shadow: -2px 2px 0 #009eb8, -3px 3px 0 #00aea7;
$title-shadow: -1px 1px 1px rgba(0, 0, 0, 0.22);
$nav-shadow: 0 1px 3px rgba(#808080, 0.13);
$danger: #fa8072;
$success: #33cfa4;
$bold-grey: #9d9d9d;
$title-gradient: linear-gradient(90deg,rgba(0, 191, 255, 0.56),#9fecf0);
$ridiculous: -3px 3px 0 #009eb8, -6px 6px 0 #00aea7, -9px 9px 0 #33b9cf, -12px 12px 0 #33c8cf, -15px 15px 0 #33cfa4;
$slant-div: 0 -2rem 0 rgba(255, 255, 255, 0.5), 0 -4rem 0 rgba(255, 255, 255, 0.4), 0 -6rem 0 rgba(255, 255, 255, 0.3), 0 -8rem 0 rgba(255, 255, 255, 0.1);
$slant-div-lower: 0 2rem 0 rgba(255, 255, 255, 0.5), 0 4rem 0 rgba(255, 255, 255, 0.4), 0 6rem 0 rgba(255, 255, 255, 0.3), 0 8rem 0 rgba(255, 255, 255, 0.1);
$margin: 0 5rem;
$lg-width: 1000px;
$md-width: 600px;
$sm-width: 100%;
$title-lg: -10px 10px 0 rgba(255,255,255,0.4), -20px 20px 0 rgba(255,255,255,0.4);
$title-md-shadow: -2px 2px 0 rgba(255, 255, 255, 0.55), -4px 4px 10px rgba(0, 0, 0, 0.08);
$splash-title: -3px 3px 0 rgba(255,255,255,0.4), -6px 6px 0 rgba(255,255,255,0.4);

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: $font-main;
    background: $main-gradient;
    margin: 0;
}

p {
    -webkit-column-break-after: always;
            break-after: always;
    page-break-after: always;
    word-wrap: break-word;
    word-break: break-word;
}

.quote {
    text-align: center;
    padding: 0 0 5rem;
}

.line {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    max-width: 80%;
    padding: 1rem;
    border-radius: 0.2rem;
    margin: -7rem auto;
}

.stroke {
    margin: auto;
    width: 100%;
    -webkit-filter: invert(80%) brightness(160%) opacity(60%);
            filter: invert(80%) brightness(160%) opacity(60%);
}

.dev {
    background: rgba(0, 0, 0, 0.02);
}

.point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 4rem;
    cursor: pointer;
}

.fakebody {
    width: 100%;
    background-size: cover;
}

.pointer {
    padding: 0 1.5rem;
    font-size: 2.5rem;
    text-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

.pointer h6 {
    margin: 0;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
}

.flex-space-around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.flex-space-around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.flex-space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 0.1rem;
    background: rgba(255, 255, 255, 0.1);
    margin: 1rem;
}

.what {
    font-size: 3rem;
    margin: 0;
    color: white;
    padding: 2rem;
    text-align: left;
    text-shadow: $title-md-shadow;
}

.info-text {
    font-size: 1rem;
    text-align: left;
    max-width: 20rem;
    color: white;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.08);
}
.about-text{
  padding:1rem;
  color: white;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.08);
}

.content {
  font-weight: 100;
    max-width: 90%;
    margin: 0 0 2rem;
    padding: 0 5rem 3rem;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    background: white;
}

.footing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding: 1rem 2rem;
}

.banner {
    background: url("'../images/trop1.jpg'");
    width: 100px;
    height: 100px;
}

.projects {
    color: $main-blue;
}

.logo {
    width: 3.5rem;
    padding: 1rem;
    fill: white;
}

.logo-lower {
    width: 15rem;
    padding: 2rem;
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
}

.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.splash h1 {
    position: relative;
    color: white;
    font-size: 5rem;
    padding: 1rem;
    z-index: 2;
    text-shadow: $splash-title;
}

.splash {
    padding: 10rem 0 2rem;
    width:$sm-width;
}

.avatar {
    width: 15rem;
    position: absolute;
    z-index: 0;
    margin-top: -6rem;
    border-radius: 20rem;
}

.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem;
}

.footer {
    text-align: center;
    color: white;
}

.contact {
    line-height: 2rem;
    font-size: 1.3rem;
    text-align: left;
}
.copy {
    margin: 4rem 0 2rem;
    color: rgba(255,255,255,0.5);
}

.project-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    color: white;
    margin: 2rem 0;
    border-radius: 0.3rem;
    -webkit-box-shadow: $title-lg;
            box-shadow: $title-lg;
}

.project-tile p.title {
    margin-bottom: 0;
    font-size: 3rem;
    text-align: center;
    background: $title-gradient;
    padding: 0.5rem;
}

.project-tile .description {
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

.contents-container {
    border-radius: 0.5rem;
}

.slant-div {
    display: none;
    background: white;
    height: 15rem;
    margin: -5rem 0 -1rem -1rem;
    width: 110%;
    -webkit-transform: skew(-2deg, 4deg);
            transform: skew(-2deg, 4deg);
    z-index: -1;
    position: absolute;
    -webkit-box-shadow: $slant-div;
            box-shadow: $slant-div;
}

.slant-div-lower {
    display: none;
    background: white;
    height: 15rem;
    margin: 0;
    width: 110%;
    -webkit-transform: skew(-2deg, 4deg);
            transform: skew(-2deg, 4deg);
    position: absolute;
    -webkit-box-shadow: $slant-div-lower;
            box-shadow: $slant-div-lower;
}

.social * {
    color: white;
    margin: 1rem;
    font-size: 3rem;
}

.contents {
    padding: 1rem;
}

.containment {
    width: $lg-width;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.icon {
    width: 10rem;
    margin: 10rem 0 2rem;
    padding: 0 5rem;
}

div.icons > div > p {
    text-align: center;
    color: rgba(#ffffff, 0.8);
    margin: 0;
    font-weight: 100;
    font-size: 2rem;
}

.backwards {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
}
/* ------ KEYFRAMES --------- */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px) skew(-2deg, 2deg);
                transform: translateY(-8px) skew(-2deg, 2deg);
    }

    50% {
        -webkit-transform: translateY(-4px) skew(-2deg, 2deg);
                transform: translateY(-4px) skew(-2deg, 2deg);
    }

    100% {
        -webkit-transform: skew(-2deg, 2deg) translateY(-8px);
                transform: skew(-2deg, 2deg) translateY(-8px);
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px) skew(-2deg, 2deg);
                transform: translateY(-8px) skew(-2deg, 2deg);
    }

    50% {
        -webkit-transform: translateY(-4px) skew(-2deg, 2deg);
                transform: translateY(-4px) skew(-2deg, 2deg);
    }

    100% {
        -webkit-transform: skew(-2deg, 2deg) translateY(-8px);
                transform: skew(-2deg, 2deg) translateY(-8px);
    }
}

.hvr-bob {
    -webkit-animation: hvr-bob;
            animation: hvr-bob;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
            animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.button-hover {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.button-hover:active,
.button-hover:focus,
.button-hover:hover {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
}
@-webkit-keyframes shake {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  55% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  65% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(1px) rotate(0);
            transform: translateX(1px) rotate(0);
  }
  75% {
    -webkit-transform: translateX(-1px) rotate(0);
            transform: translateX(-1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
}
@keyframes shake {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  55% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  65% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(1px) rotate(0);
            transform: translateX(1px) rotate(0);
  }
  75% {
    -webkit-transform: translateX(-1px) rotate(0);
            transform: translateX(-1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
}

.shake {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
          transform: perspective(2px) translateZ(0);
  -webkit-animation: shake 5s infinite;
          animation: shake 5s infinite;
}
/* ------ Mobile ------ */
@media (min-device-width: 100px) and (max-device-width: 400px) {
    .heading {
        margin: 0;
    }
    .stroke {
        position: relative;
        width: 500%;
        margin-left: -20rem;
        margin-top: -3rem;
    }

    .quote {
        margin: 0 0 5rem;
    }

    .line {
        margin-top: -10rem;
    }

    .icons * *{
        width: 5rem;
        padding: 1rem 3rem;
    }

    .logo {
        width: 2.5;
    }

    .social * {
        font-size: 2rem;
        margin: 1.5rem 0.5rem;
    }

    .splash h1 {
        font-size: 4rem;
        margin: 0 0 3rem;
    }

    .project-tile {
        width: 18rem;
        height: 18rem;
        padding: 0;
    }

    .project-tile p.title {
        font-size: 2rem;
    }

    .project-tile .description {
        font-size: 1rem;
    }

    .logo-lower {
        margin: -15rem auto;
        padding: 15rem 0 2rem;
        width: 15rem;
        -webkit-filter: opacity(30%);
                filter: opacity(30%);
    }

    .copy {
        margin: 2rem;
    }

    .info-text {
        max-width: 30rem;
        font-size: 0.8rem;
        padding: 0.5rem;
        margin: 0.5rem;
        font-weight: 200;
    }

    .splash {
        padding: 0 0 3rem;
    }

    .info {
        padding: 0;
        width: 100%;
        border-radius: 0;
        padding: 0.5rem 0;
        background: none;
        margin: 0;
    }

    .containment {
        width: 100%;
        overflow-x: hidden;
    }

    .what {
        padding: 3rem 2rem 0;
        margin: 0;
        font-size: 2.5rem;
    }

    .content {
        padding: 1rem;
        max-width: 100%;
    }

    .contents-container {
        padding: 0;
    }

    .project-tile {
        -webkit-box-shadow: 0 5px 0 rgba(255,255,255,0.3), 0 10px 0 rgba(255,255,255,0.2), 0 15px 0 rgba(255,255,255,0.2);
                box-shadow: 0 5px 0 rgba(255,255,255,0.3), 0 10px 0 rgba(255,255,255,0.2), 0 15px 0 rgba(255,255,255,0.2);
    }

    .contact {
        font-size: 1rem;
    }

    .avatar {
        margin: 1rem 0;
        position: static;
    }

    .splash p {
        position: relative;
        z-index: 2;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .splash {
        margin-bottom: 3rem;
    }

    .icon {
        margin: 0;
    }
    .footer{
      padding: 5rem 0 0;
    }
}
@media (min-device-width: 400px) and (max-device-width: 800px) {
    .stroke {
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .info {
        width: 100%;
    }

    .info-text {
        font-size: 0.8rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .content {
        padding: 1rem;
    }

    .containment {
        width: 90%;
    }
    .project-tile {
        -webkit-box-shadow: 0 5px 0 rgba(255,255,255,0.3), 0 10px 0 rgba(255,255,255,0.2), 0 15px 0 rgba(255,255,255,0.2);
                box-shadow: 0 5px 0 rgba(255,255,255,0.3), 0 10px 0 rgba(255,255,255,0.2), 0 15px 0 rgba(255,255,255,0.2);
    }
}
/* ----------- Small Monitor ----------- */
@media (min-device-width: 800px) and (max-device-width: 1300px) {
    .logo {
        width: 2.5;
    }

    .social * {
        font-size: 2rem;
        margin: 0.5rem;
    }

    .splash h1 {
        font-size: 4rem;
    }

    div.splash {
        padding: 1rem;
    }

    .project-tile {
        width: 18rem;
        height: 18rem;
    }

    .project-tile p.title {
        font-size: 2rem;
    }

    .project-tile .description {
        font-size: 1rem;
    }

    .logo-lower {
        margin: 0;
        width: 15rem;
    }

    .copy {
        margin: 2rem;
    }

    .info-text {
        max-width: 15rem;
        font-size: 1rem;
    }

    .containment {
        width: $md-width;
        overflow-x: hidden;
    }
}
/* ----------- Large Monitor ----------- */
@media (min-device-width: 1300px) {
    .containment {
        width: $lg-width;
        overflow-x: hidden;
    }

    .slant-div-lower {
        margin: 0;
        -webkit-transform: skew(-2deg, 2deg);
                transform: skew(-2deg, 2deg);
    }
}
